<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Events</title>
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="stylesheets/base.css"/>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<style>
			html,body{
				width:100vw;
			}
		</style>
	</head>
	<body>
		<%- include('partials/preloader') %>
		<%- include('partials/modal') %>
		<a href="/" class="homelogo" ><i class="fa fa-home fa-3x" ></i></a>
		<div class="wrap">
			<h1>Flagship Events</h1>
		</div>

		<div id="app" class="container">
			<% for(var i=1;i<41;i++) { %>
				<% if (evjson[i]["cat"] === "Flagship" ){ %>
					<card data-image="/images/eventPosters/<%= i %>.jpg" data-cover="/images/eventPosters/<%= i %>.jpg" data-title='<%= evjson[i]["event"] %>' data-desc='<%= evjson[i]["desc"] %>' data-form_link="<%= evjson[i]['form_link']%>"  data-venue="<%= evjson[i]['venue'] %>" data-date_time="<%= evjson[i]['date_time'] %>" class="evbtn">
						<h1 slot="header" id="<%= i %>" class="card__title"><%= evjson[i]["event"] %></h1>
						<p slot="content" class="card__desc" ><%= evjson[i]["desc"].substring(0, 50) %>...</p>
					</card>
				<% } %>	
			<% } %>
			
			<div id="FunEvents" class="container">
				<div class="wrap">
					<h1>Fun Events</h1>
				  </div>
				<div id="app" class="container">
					<% for(var i=1;i<43;i++) { %>
						<% if (evjson[i]["cat"] === "Fun" ){ %>
							<card data-image="/images/eventPosters/<%= i %>.jpg" data-cover="/images/eventPosters/<%= i %>.jpg" data-title='<%= evjson[i]["event"] %>' data-desc='<%= evjson[i]["desc"] %>' data-form_link="<%= evjson[i]['form_link']%>"  data-venue="<%= evjson[i]['venue'] %>" data-date_time="<%= evjson[i]['date_time'] %>" class="evbtn">
								<h1 slot="header" id="<%= i %>" class="card__title"><%= evjson[i]["event"] %></h1>
								<p slot="content" class="card__desc" ><%= evjson[i]["desc"].substring(0, 50) %>...</p>
							</card>
						<% } %>	
					<% } %>
				</div>
			</div>
			<div id="FunEvents" class="container">
				<div class="wrap">
					<h1>Workshop</h1>
				</div>
				<div id="app" class="container">
					<% for(var i=1;i<41;i++) { %>
						<% if (evjson[i]["cat"] === "Workshop" ){ %>
							<card data-image="/images/eventPosters/<%= i %>.jpg" data-cover="/images/eventPosters/<%= i %>.jpg" data-title='<%= evjson[i]["event"] %>' data-desc='<%= evjson[i]["desc"] %>' data-form_link="<%= evjson[i]['form_link']%>"  data-venue="<%= evjson[i]['venue'] %>" data-date_time="<%= evjson[i]['date_time'] %>" class="evbtn">
								<h1 slot="header" id="<%= i %>" class="card__title"><%= evjson[i]["event"] %></h1>
								<p slot="content" class="card__desc" ><%= evjson[i]["desc"].substring(0, 50) %>...</p>
							</card>
						<% } %>	
					<% } %>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>
		<script src="js/mobile.js"></script>
		<script src="js/sweet.js"></script>
		<% if(message) { %>
			<script>
			  let message = "<%= message %>";
			  Toast.fire({
				  position: 'top',
				title: message
			  });
			</script>
			<script>
				history.pushState(null, null, window.location.pathname);
			  </script>
		  <% } %>
	</body>
</html>
