<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PROFILE</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/profile.css" />
  </head>
  <body >
    <%- include('partials/navbar1') %>
    <div class="title">
      <span class="top right"></span>
      <span class="top left"></span>
      <span class="bottom right"></span>
      <span class="bottom left"></span>
    </div>

    <div class="bgtint"></div>
    <section class="bussinesscard">
      <div class="flip">
        <div class="front">				
          <div class="top">				
            <div class="logo"><span class="fat"><%= data.uid %></span></div>				
          </div>
          <div class="nametroduction">
            <div class="name"><%= data.name %></div>
            <!-- <div class="introduction"><%= data.uid %></div> -->
          </div>	
          <div class="contact">						
            <div class="website">
              <p>Email:<%= data.username %></p>
            <div class="twitter">
              <p>Gender:<%= data.gender %></p>
            </div>												
            <div class="phone ">
              <p>Phone:<%= data.phone %></p> 
            </div>
            <div class="email ">
              <p>College:<%= data.college %></p>
            </div>
            <div class="email ">
              <p>Payment status:<%= data.paidstatus %></p>
            </div>
          </div>						
        </div>
        <div class="back"></div> 
      </div>
    </section>    
  </body>
</html>
